<link rel="stylesheet" href="~/css/_footer.css">

<footer class="footer">
    <div class="footer-container">
        <div class="footer-col">
            <h2 class="footer-heading">Sức khỏe là trên hết</h2>
            <p>Sức khỏe là trên hết và chúng tôi hỗ trợ hết mình với những ai quan tâm tới sức khỏe</p>
            <ul class="footer-social">
                <li><a href="#"><span class="icon-twitter"></span></a></li>
                <li><a href="#"><span class="icon-facebook"></span></a></li>
                <li><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h2 class="footer-heading">Đường dẫn</h2>
            <ul class="footer-links">
                <li><a href="#">Về chúng tôi</a></li>
                <li><a href="#">Tính năng</a></li>
                <li><a href="#">Dự án</a></li>
                <li><a href="#">Chia sẻ</a></li>
                <li><a href="#">Liên hệ</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h2 class="footer-heading">Bài tư vấn vừa xem</h2>
            <div class="footer-blog">
                <div class="text">
                    <p>Chưa có bài nào</p>
                    <p><span class="icon-calendar"></span>9/11/2001</p>
                </div>
            </div>
        </div>
        <div class="footer-col">
            <h2 class="footer-heading">Văn phòng</h2>
            <ul class="footer-contact">
                <li><span class="icon icon-map-marker"></span>96 Dinh Kong</li>
                <li><a href="#"><span class="icon icon-phone"></span>+9412345678</a></li>
                <li><a href="#"><span class="icon icon-envelope"></span>info@info.info</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; <script>document.write(new Date().getFullYear());</script>2024 All rights reserved | Made by Lamb</p>
    </div>
</footer>