@model Nutrition.ViewModels.ProgressDetailsViewModel

<link rel="stylesheet" href="~/css/newProgress.css" />

<body>
    @await Html.PartialAsync("~/Views/PartialView/_Header.cshtml")

    <div class="content">
        <h2>Create New Progress</h2>

        <form asp-action="Create" method="post">
            <div class="form-group">
                <label asp-for="health_status">Sức khỏe</label>
                <input class="form-control" asp-for="health_status" />
            </div>
            <div class="form-group">
                <label asp-for="height">Chiều cao</label>
                <input type="number" class="form-control" asp-for="height" />
            </div>
            <div class="form-group">
                <label asp-for="weight">Cân nặng</label>
                <input type="number" class="form-control" asp-for="weight" />
            </div>
            <div class="form-group">
                <label asp-for="commment">Ghi chú</label>
                <textarea class="form-control" asp-for="commment"></textarea>
            </div>

            <button type="submit" class="btn btn-success">Thêm</button>
            <a class="btn btn-secondary" href="@Url.Action("List", "UserProgress")">Hủy</a>
        </form>

    </div>
    @await Html.PartialAsync("~/Views/PartialView/_Footer.cshtml")

</body>
